<% form_tag "", class: "form--class--here", method: "post", data: {netlify: "true"}, "netlify-honeypot" => "address", name: "contact-form" do %> 
  <div class="form-group">
    <%= label_tag :name, caption: 'Name*' %>
    <%= text_field_tag :name, class: "form-control", required: true %>
    <%= label_tag :email, caption: 'Email*' %>
    <%= input_tag :email, name: "email", class: "form-control", required: true %>
    <%= label_tag :tel, caption: 'Phone' %>
    <%= input_tag :tel, name: "phone", class: "form-control" %>
    <%= label_tag :message, caption: 'Message*' %>
    <%= text_area_tag :message, class: "form-control", rows: "8", required: true %>
    <div data-netlify-recaptcha></div>
    <%= label_tag :address, caption: 'this field is not for humans' %>
    <%= text_field_tag :address, class: "form-control" %>
  </div>
  <%= submit_tag "Submit", "btn btn-primary" %> 
<% end %> 
