---
---
<% content_for(:head) do %>
  <%= dato_meta_tags(painting_category) %>
<% end %>

<div class="mt-5">
  <%= partial "partials/generic_content", locals: {heading: painting_category.name, content: painting_category.overview} %>
</div>

<div class="row mt-5">
  <% dato.paintings.select{|p| p.painting_category == painting_category}.each do |p| %>
    <div class="col-md-12 col-lg-4 mt-4">
      <a href="<%= painting_path(p) %>">
        <%= image_tag(p.photo.url, class: "mb-4 img-fluid") %> 
        <p class="text-center"><%= p.name %></p>
      </a>
    </div>
  <% end %>
</div>
