<div class="mt-5">
  <h2>Contact Allen Hicks</h2>
  <% form_tag "", class: "form--class--here", method: "post", data: {netlify: "true"}, name: "contact-form" do %> 
    <div class="form-group">
      <%= label_tag :name, caption: 'Name*' %>
      <%= text_field_tag :name, class: "form-control", required: true %>
      <%= label_tag :email, caption: 'Email*' %>
      <%= input_tag :email, class: "form-control", required: true %>
      <%= label_tag :tel, caption: 'Phone' %>
      <%= input_tag :tel, class: "form-control" %>
      <%= label_tag :message, caption: 'Message*' %>
      <%= text_area_tag :message, class: "form-control", rows: "8", required: true %>
    </div>
    <%= submit_tag "Submit", "btn btn-primary" %> 
<% end %> 
</div>
